.uppercase {
    text-transform: uppercase;
    line-height: 1.2;
}

/* position */
.relative {
    position: relative;
}
/* background */ 
.background-basic {
    background-color: var(--basic-color);
}

/* font weight */
.f-weight-700 {
    font-weight: 700;
}

/* Text color */
.text-white {
    color: var(--white-color);
}

.text-white-blur {
    color: var(--white-blur-color);
}

.text-basic {
    color: var(--text-color);
}

.text-strong {
    color: var(--text-strong-);
    font-weight: 700;
}

/* padding */

.p-top-50 {
    padding-top: 50px;
}

.p-top-60 {
    padding-top: 60px;
}

.p-top-65 {
    padding-top: 60px;
}

.p-bottom-30 {
    padding-bottom: 30px;
}
.p-bottom-60 {
    padding-bottom: 60px;
}

.p-top-bottom-46 {
    padding-top: 46px;
    padding-bottom: 46px;
}
.p-top-bottom-151 {
    padding-top: 151px;
    padding-bottom: 151px;
}

/* margin */
.un-m-left-right-9_8 {
    margin-left: -9.8px;
    margin-right: -9.8px;
}

.m-top-22 {
    margin-top: 22px;
}

/* Font size */
.f-size-12_8 {
    font-size: 12.8px;
}

/* Flex */
.d-flex-1 {
    flex: 1;
}

.flex-left {
    margin-right: auto;
}

.flex-right {
    margin-left: auto;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.d-flex-between {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.d-flex-center {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.d-flex-between-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.d-flex-col {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

